.vscode/*
.vscode
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/
.idea/

# python cache
*.pyc
*.cache

logs/*

data/*
!/data/my_train_dataset_3k.parquet
!/data/my_test_dataset_2k.parquet
!/data/my_valid_dataset_1k.parquet

model_save/*
!model_save/put_model_files_here

wandb/*
