accelerate==0.23.0
colorlog==6.7.0
datasets==2.14.5
fastparquet==2023.8.0
fire==0.4.0
jieba_fast==0.53
matplotlib==3.6.3
nltk==3.8.1
numpy==1.24.1
opencc_python_reimplemented==0.1.7
pandas==1.5.3
psutil==5.9.4
rich==13.6.0
sentencepiece==0.1.99
tokenizers==0.13.2
torch==2.0.1
transformers==4.25.1
ujson==5.6.0
